@import url('https://fonts.googleapis.com/css?family=Caveat');

:root {
    --text_color: rgb(16, 19, 86);
    --font: 'Caveat';
}

body {
    margin: 0;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed
}

nav {
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
}

.navbar-brand {
    color: grey;
}

.btn-outline-secondary {
    position: right;
    margin: 10px;
}

.sticker {
    font-family: 'Caveat';
    text-align: center;
    background-color: #fde456;
    width: 220px;
    height: 220px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.sticker .sticker-header {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    color: black;
    overflow: hidden;
}

.sticker-content {
    font-size: 1.5em;
}

.task {
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
}

.task:hover {
    text-decoration: line-through;
}

.task-finished {
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    text-decoration: line-through;
}

.task-finished:hover {
    text-decoration: none;
}

.delete-sticker {
    position: absolute;
    top: 5px;
    right: 5px;
}

.edit-sticker {
    position: absolute;
    bottom: 0;
    right: 0;
}

ul {
    list-style-type: square;
}

footer {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

/*login*/

#register,
#login {
    height: 250px;
    width: 250px;
    margin: 10px;
    font-family: var(--font);
    color: var(--text_color);
    text-align: center;
    background-color: #fde456;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
}

#register h1,
#login h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}

.textbox {
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    overflow: hidden;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
    color: var(--text_color);
    font-size: 18px;
    width: 80%;
    border-radius: 5px;
}

.textbox:hover {
    filter: brightness(0.5);
}

.textbox i {
    width: 20px;
    float: left;
    text-align: center;
}



@media only screen and (max-width: 575px) {
    .sticker {
        width: 250px;
    }
}