body {
    margin: 0;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed
}

nav {
    background: rgba(255, 255, 255, 0.5);
    filter: alpha(opacity=50);
}

.navbar-brand {
    color: grey;
}

.btn-outline-secondary {
    position: right;
    margin: 10px;
}

.sticker {
    font-family: 'Caveat';
    text-align: center;
    background-color: #fde456;
    width: 220px;
    height: 220px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.sticker .sticker-header {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    color: black;
    overflow: hidden;
}

.sticker-content {
    font-size: 1.5em;
}

.task {
    font-size: 1.5em;
    text-align: center;
    overflow: hidden;
    padding:
}

.task:hover {
    text-decoration: line-through;
}

.close {
    margin-right: 15px;
}

ul {
    list-style-type: square;
}

footer {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 0;
    width:100%;
}

@media only screen and (max-width: 575px) {
    .sticker { 
        width: 250px;
    }
 }